---
import Layout from '../layouts/Layout.astro';
import { LoginForm } from '../components/AuthForm';
---

<Layout title="Login - FoodShare">
  <main class="min-h-screen flex items-center justify-center p-4">
    <LoginForm client:load />
  </main>
</Layout>
